BODY {
    margin: 0;
    overflow: hidden;
    font-family: arial;
    font-size: 10pt;
    color: black;
    background-color: black;
}

#monCanvas {
    display: block;
}

.sTexteCentre {
    text-align: center;
}

.sLargeurDiv {
    width: 640px;
    padding-left: 10px;
    padding-right: 10px;
}

.sEntete {
    margin-bottom: 5px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.sCorps {}

.sPiedDePage {
    margin-top: 5px;
    border-top-width: 2px;
    border-top-style: solid;
}

.sTitreApp {
    font-size: 150%;
    font-weight: bold;
    text-decoration: underline;
}

.sAuteurApp {
    font-variant: small-caps;
    font-style: italic;
    font-weight: bold;
}

.game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#hud-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.sHUD {
    font-size: 120%;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

A:link IMG,
A:visited IMG {
    border: none;
}

A:hover IMG {
    border-style: double;
    border-width: 2px;
    border-color: Green;
}